@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,html {
  font-family: 'Poppins', sans-serif;
  color: #333;
}

.status-pill {
  width: fit-content;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 14px;
}

.date-pill {
  width: fit-content;
  padding: 5px 10px;
  border-radius: 6px;
  background-color: #EBEBEB;
  color: #3E3838;
}

.status-pill.pending {
  background-color: #C7D0E3;
  color: #181278;
}
.status-pill.in_progress {
  background-color: #E9E64A;
  color: #59470C;
}
.status-pill.completed {
  background-color: #B8D5C1;
  color: #143806;
}

.pagination {
  padding: 0 40px;
}
.pagination button {
  width: fit-content;
  margin: 0 5px;
}

form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input, textarea {
  padding: 10px;
  font-size: 16px;
  width: 500px;
  max-width: 100%;
  font-family: 'Poppins', sans-serif;
}

button {
  padding: 10px;
  background-color: #B8D5C1;
  color: #143806;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 500px;
  max-width: 100%;
  font-weight: bold;
}
